* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../assets/graph.jpg);
}

.landing
{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#image {
    width: 300px;
    height: 175px;
}

#searchbar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 237px;
}

.select
{
width: 25%;
}

#countrybox
{
display: flex;
flex-flow: row wrap;
}

.container
{
width: 300px;
height: 670px;
margin-bottom: 50px
}

.row {
    display: flex;
    justify-content: center;
}

#top
{
color: black;
}

